jwt:
  secret: ${JWT_SECRET}
  expire: ${JWT_EXPIRE}

spring:
  application:
    name: spring04
  mail:
    host: smtp.gmail.com
    port: ${MAIL_PORT}
    username: ${MAIL_ID}
    password: ${MAIL_PASS}
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
          auth: true
          timeout: 5000
  datasource:
    driver-class-name: ${DB_SERVER}
    url: ${DB_URL}
    username: ${DB_ID}
    password: ${DB_PASS}

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
